<div class="panel panel-default" id="login" ng-controller="loginController">
  <div class="panel-heading p1">
  		用户登录 / 注册	
  </div>
  <div class="panel-body p2">
  	<div class="row" ng-show="!user">
  		<div class="col-sm-10 col-sm-offset-1">
	    	<form  name="myForm" ng-submit="login()" class="form-horizontal">
			  <div class="form-group">
			    <input type="text" class="form-control" id="username" ng-model="basuser.username" placeholder="请输入用户名">
			  </div>
			  <div class="form-group">
			    <input type="password" class="form-control" id="password" ng-model="basuser.password" placeholder="请输入密码">
			  </div>
			   <div class="form-group" ng-class="{'has-success':myForm.code.$valid}">
				    <!-- <label for="password" class="col-sm-3 control-label">验证：</label> -->
				    <div class="col-sm-8">
				    	<img alt="" src="/activity/servlet/ImgValidHandler?t={{t}}" width="100%" height="" class="img1" ng-click="changeValidCode()">
				    </div>
				    <div class="col-sm-8">
						<input type="text"   name="code" required="required"   class="form-control i"  placeholder="输入4位验证码"  ng-model="vil.code" />
				    </div>
			    </div>
			  <button type="submit" class="btn btn-default" ui-sref="register">注册</button>
			  <button class="btn btn-default" type="submit">登录</button>
			</form>
		</div>
	</div>
	<div class="row" ng-show="user">
		<div class="col-sm-12">
			欢迎回来,{{u.username}} <a ng-click="logout()">登出</a>
		</div>
	</div>
  </div>
</div>