<ion-content ng-controller="rankController">
	<ion-refresher
	    pulling-text="下拉刷新"
	    on-refresh="doRefresh()"
	    refreshing-icon="ion-loading-c"
	    >
	</ion-refresher>
	<div id="list">
		<img src="img/icon1.jpg" width="100%"/>
		<p class="p1">排行榜</p>
		<div class="container">
			<div class="wrap" ng-repeat="bean in list">
				<div class="opus">
					<div class="pic" style="background-image: url('{{bean.imageurl  }}')"></div>
					<p>作品名：{{bean.title}}</p>
					<p>作&emsp;者：{{bean.username}}</p>
					<p>得票数：{{bean.votes}}</p>
					<p>排&emsp;名：{{bean.rank}}</p>
					<button class="btn" ng-click="vote(bean.userid,bean.username,bean)">投&emsp;票</button>
				</div>
			</div>
		</div>
	</div>
	<ion-infinite-scroll
		ng-if="hasMoreDate()"
	    on-infinite="loadMore()"
	    icon="ion-loading-c"
	    distance="15%"
	    immediate-check="false">
  	</ion-infinite-scroll>
</ion-content>